.navBar {
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center; /* Center children vertically */
    padding: 0 1rem;     /* Add some breathing room on the sides */
    height: 50px;
}

.navHeader {
    font-size: 1.8rem;
    margin: 0;           /* Remove default paragraph margins */
    line-height: 1;      /* Ensures the text box doesn't exceed the height */
    font-family: "Comic Sans MS", "Comic Sans", cursive; /* Corrected font property */
}
.option{
    cursor: pointer;
}

.componentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 50px);
    background-color: aliceblue;
    width: 100dvw;
}