.container {
    display: flex;
    background-color: var(--body-bg);
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.buttonBorder {
    background: linear-gradient(115deg, #eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
    padding: 2px;
    border-radius: 10px;
}

.button {
    background: var(--btn-bg);
    color: var(--btn-color);
    padding: 1em 1.5em;
    font-family: inherit;
    letter-spacing: .1em;
    border-radius: 10px;

    /* below code will prevent the border radius  */
    /* border-image: linear-gradient(115deg, #eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
    border-image-slice: 1; */

}

.buttonBorder:hover{
    background: linear-gradient(230deg, #eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);


}

.buttonBorder:hover .button{
    cursor: pointer;
    color: var(--btn-color-hover);
    padding: 1.1em 1.6em;
}