.mainContainer{
display: flex;
justify-content: center;
width: 100%;

}

.madaFlag{
    display: flex;
    height: 150px;
    width: calc(150px * 1.5);
    border: 1px solid ;
}

.white{
    height: 100%;
    width:calc(150px / 2);
    background-color: #fff;

}

.red{
    height: calc(150px / 2);
    width: 150px ;
    background-color: #fc3e32;
}

.green{
  height: calc(150px / 2);
        width: 150px ;

    background-color: #007e39;

}